@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Nunito:wght@400;500&display=swap');

.App {
  text-align: center;
  background-color: #F8D1EA;
  max-width: 400px;
  min-height: 600px;
  margin: 0 auto;
  border-radius: 2rem;
  padding: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.startImg {
  width: 510px;
  margin-left: -3.5rem;
  margin-top: 2rem;
}

.welcomeIntro,
h1 {
  font-family: 'Lemon', cursive;
  color: #293B8D;
  padding-top: 1rem;
  font-size: 2rem;
}

h2,
h3,
h5,
h6 {
  font-family: 'Lemon', cursive;
  color: #293B8D;
  padding: .8rem;
}

.scrumImg {
  width: 440px;
  margin-left: -1rem;
  margin-top: 3rem;
}

.devTeam,
.sprintImg,
.artifactsImg,
.storyPoints {
  width: 400px;
}

p, li {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  text-align: left;
  line-height: 1.5rem;
  letter-spacing: .1rem;
}
li{
  font-weight: 600;
  text-align: left;
  line-height: 2.2rem;
}

button {
  background-color: #F03DA7;
  border: none;
  border-radius: 1rem;
  padding: .6rem;
  font-family: 'Lemon', cursive;
  color: white;
  letter-spacing: .1rem;
}
button:hover{
  background-color: white;
  color: #F03DA7;
  cursor: pointer;
}
.quiz{
  text-decoration:  none;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: black;
  border: 1px #F03DA7 solid;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 150px;
  margin: 0 auto 5rem;
}
.quiz:hover{
  background-color: #F03DA7;
  color: white;
}
.btns{
  display: flex; 
  justify-content: space-between;
  margin-top: 2rem;
}
.AltBtns{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}