@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Nunito:wght@400;500&display=swap');

.App {
  text-align: center;
  background-color: #F8D1EA;
  max-width: 450px;
  min-height: 600px;
  margin: 0 auto;
  border-radius: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.startImg {
  width: 510px;
  margin-left: -2rem;
  margin-top: 2rem;
}

.welcomeIntro {
  font-family: 'Lemon', cursive;
  color: #293B8D;
  padding-top: 3rem;
  font-size: 2rem;
}

.scrumImg {
  width: 450px;
  margin-top: 6rem;
}

.devTeam,
.sprintImg,
.artifactsImg {
  width: 400px;
}